<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> Menu </title>
	</head>
	<body>
		<nav>
			<a href="/foods">Back to Menu</a>
		</nav>
		<h1><%= food.Name %></h1>
		Category: <%= food.Category%>
		<br />
		Price: <%= food.Price%>
		<br />
		Paid: <%= food.Paid %><br/>
		<img src=<%=food.Image%>/> 

		
		<form action="/foods/<%=food._id%>?_method=DELETE" method="POST">
			<input type="submit" value="DELETE" />
		  </form>
		  
		   <form action="/foods/<%=food._id%>/edit?_method=EDIT" method="GET">
			<input type="submit" value="EDIT" /> 
	</body>

	<style>
		body{
			background-image: url(https://i.imgur.com/XAhS585.jpg?2);
		}
		img {
			size: 100px;
		}
	</style>
</html>